/* color palette from <https://github.com/vuejs/theme> */
/* :root {
  --vt-c-white: #ffffff;
  --vt-c-white-soft: #f8f8f8;
  --vt-c-white-mute: #f2f2f2;

  --vt-c-black: #181818;
  --vt-c-black-soft: #222222;
  --vt-c-black-mute: #282828;

  --vt-c-indigo: #2c3e50;

  --vt-c-divider-light-1: rgba(60, 60, 60, 0.29);
  --vt-c-divider-light-2: rgba(60, 60, 60, 0.12);
  --vt-c-divider-dark-1: rgba(84, 84, 84, 0.65);
  --vt-c-divider-dark-2: rgba(84, 84, 84, 0.48);

  --vt-c-text-light-1: var(--vt-c-indigo);
  --vt-c-text-light-2: rgba(60, 60, 60, 0.66);
  --vt-c-text-dark-1: var(--vt-c-white);
  --vt-c-text-dark-2: rgba(235, 235, 235, 0.64);
}

/* semantic color variables for this project */


/* *,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
} */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Octosquares-Regular";
  src: url("../public/fonts/TTOctosquares-Regular.eot");
  src: url("../public/fonts/TTOctosquares-Regular.eot?#iefix") format("embedded-opentype"), 
        url("../public/fonts/TTOctosquares-Regular.woff2") format("woff2"), 
        url("../public/fonts/TTOctosquares-Regular.woff") format("woff"), 
        url("../public/fonts/TTOctosquares-Regular.ttf") format("truetype")
}
@font-face {
  font-family: "Octosquares-Medium";
  src: url("../public/fonts/TTOctosquares-Medium.eot");
  src: url("../public/fonts/TTOctosquares-Medium.eot?#iefix") format("embedded-opentype"), 
        url("../public/fonts/TTOctosquares-Medium.woff2") format("woff2"), 
        url("../public/fonts/TTOctosquares-Medium.woff") format("woff"), 
        url("../public/fonts/TTOctosquares-Medium.ttf") format("truetype")
}
@font-face {
  font-family: "Octosquares-Light";
  src: url("../public/fonts/TTOctosquares-Light.eot");
  src: url("../public/fonts/TTOctosquares-Light.eot?#iefix") format("embedded-opentype"), 
        url("../public/fonts/TTOctosquares-Light.woff2") format("woff2"), 
        url("../public/fonts/TTOctosquares-Light.woff") format("woff"), 
        url("../public/fonts/TTOctosquares-Light.ttf") format("truetype")
}
@font-face {
  font-family: "Octosquares-Bold";
  src: url("../public/fonts/TTOctosquares-Bold.eot");
  src: url("../public/fonts/TTOctosquares-Bold.eot?#iefix") format("embedded-opentype"), 
        url("../public/fonts/TTOctosquares-Bold.woff2") format("woff2"), 
        url("../public/fonts/TTOctosquares-Bold.woff") format("woff"), 
        url("../public/fonts/TTOctosquares-Bold.ttf") format("truetype")
}
@font-face {
  font-family: "Octosquares-DBold";
  src: url("../public/fonts/TTOctosquares-DBold.eot");
  src: url("../public/fonts/TTOctosquares-DBold.eot?#iefix") format("embedded-opentype"), 
        url("../public/fonts/TTOctosquares-DBold.woff2") format("woff2"), 
        url("../public/fonts/TTOctosquares-DBold.woff") format("woff"), 
        url("../public/fonts/TTOctosquares-DBold.ttf") format("truetype")
}

body {
  background: url('./background.jpg') no-repeat center center / cover;
  /* min-height: 100vh; */
  /* width: 2540px; */
  width: 100%;
  height: 100vh;
  font-family: "Octosquares-Regular";
  
}

::-webkit-scrollbar {
  width: 6px;
  height: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: red; 
  border-radius: 10px;
  background: #832896CC;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #832896CC;
}